
html{
  margin: 0rem;
  padding: rem;
  width: 100%;
  background-color: black;
}




.parent{
display: flex;
flex-direction: column;
background-color: black;

}

.header{
  width: 93%;
height:max-content;
display: flex;
flex-direction: row;
background-color: black;
justify-content: center;
position: fixed;

}

.events{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5rem;
height:max-content;
background-color: black;
}

.events_content{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 6rem;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: whitesmoke;
height:max-content;
width: 84.5rem; 
background-color: black;
}



.body{
  display: flex;
  flex-direction: column;
  background-color: black;
height:max-content;

}


.footer{
  height: max-content;
  display: flex;
  flex-direction: row;

 
}

.headericon_a{
  border: 1px solid black;
  flex: 2;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.headericon_b{
  border: 1px solid black;
  flex: 2;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


.headernavbar{
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  font-display: row;
  flex-direction: row;
  flex: 5;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.navbarelements{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contact_a{
  border: 1px solid black;
  height: max-content;
 flex: 1;
display: flex;
flex-direction: column;
justify-content: center;



}

.contact_b{
  border: 1px solid black;
  height: max-content;
 flex: 1;
display: flex;
flex-direction: column;
justify-content: center;



}

.Esummitlogo{
  background-color: black;
  padding: 0.3rem;
height: 5rem;
width: 18rem;
}

.Esummitlogo2{
  padding: 1rem;
height: 8rem;
width: 25rem;
background-color: black;
display: flex;
justify-content: center;

}

.Ecelllogo{
  padding: 0.4rem;
height: 6rem;
width: 22rem;
background-color: black;
}


.headernavbar {

  position: relative;
  color: rgb(78, 78, 44);
}

.headernavbar:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(194, 170, 109);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.headernavbar:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footerlogoemail_a{
  border: 1px solid black;
  height: 10rem;
  width: 25rem;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  background-color:black ;

}

.footerlogoemail_b{
  padding: 3rem;
  border: 1px solid black;
  height: 14rem;
  width: 25rem;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  background-color:black ;


}

.footerfollowus{
  border: 1px solid black;
  height: 22rem;
  width: 25rem;
  background-color:black ;
  display: flex;
  flex-direction: column;
}

.footerfollowus_first{
  padding: 3rem;
  border: 1px solid black;
  height: 13rem;
  width: 25rem;
  color: white;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  
}

.footerfollowus_second{
  border: 1px solid black;
  height: 8rem;
  width: 25rem;
  display: flex;
  flex-direction: row;
}

.footerfollowusicon{
  border: 1px solid black;
  height: 4.5rem;
  width: 25rem;
  padding: 1.1rem;
}


.footerfollowusiconsecond{
  border: 1px solid black;
  height: 4.5rem;
  width: 7rem;
padding: 1.1rem;
}

.footerfollowusiconthird{
  border: 1px solid black;
  height: 4.5rem;
  width: 25rem;
}

.footerecelllogo{
  border: 1px solid black;
  height: max-content;
  width: 25rem;
  background-color:black 

}

.footercontacts{
  padding: 3rem;
  border: 1px solid black;
  height: 20rem;
  width: 25rem;
  background-color:black;
  color: white;
  font-size:2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;


}

.footeraddress{
  padding: 3rem;
  border: 1px solid black;
  height: 18rem;
  width: 25rem;
  color: white;
  background-color:black;
  font-size:2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form{
  border: 1px solid black;
  height:50rem ;
 flex: 2;
  background-color:black;
  color: #000000;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardrowfirst{
display: flex;
justify-content: center;
align-items: center;
border: 2px solid black;
height: max-content;
padding: 2rem;
flex-direction: row;
gap: 8rem;
background-color: black;

}


.cardrowsecond{
  background-color:black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 2rem;
  gap: 8rem;
  }


  .card1{ 
    background-color:black ;
    height: 25rem;
    width: 20rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
  }

  .cardimg{ 
    background-color:black ;
    border: 2px solid rgb(194, 170, 109);
    height: 25rem;
    width: 20rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 8rem;
    display: flex;
  }

 

.design_image{
  width: 100%;
  height: 100%;
  
}

.btn.btn-primary{
  border:1px solid grey;
  background: black;
}


#formBasicPassword.form-control{
  background: black;
}


#formBasicEmail.form-control{
  background: black;
}



li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;

}

.navbar{
  min-height: 4.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.menu{

display: flex;
justify-content: space-between;
align-items: center;
gap: 2.5rem;
}

.nav{
  font-style: 2rem;

}

.link{
  transition: 0.1s ease;
  color: white;
}

.link:hover{
  color: rgb(78, 78, 44);
}


.bell{
  display: block;
  width:1.5rem;
  height: .1rem;
  margin: .3rem auto;
  background-color:black;
}












  @media(max-width:1360px){

    #cardgo1{
      display: none;
    }

    #cardgo2{
      display: none;
    }

    .card1{
      width: 20rem;  
    }
  }
 @media(max-width:1181px){
    #cardgo1{
      display: block;
    }

    #cardgo2{
      display: block;
    }

.headernavbar{
  display: none;
}
.headericon_b{
  display: none;
}

.cardrowfirst{ 
flex-direction: column;  
 }
 
  .cardrowsecond{
  flex-direction: column; 
   } 

  .footer{ 
 display: flex;
  flex-direction: column-reverse; 

 
 } 

  
 .Ecelllogo{
   display: none;
 }
 .Esummitlogo2{
   display: none;
 }
 .footerlogoemail_a{
  display: none;
}


 }


